/* wonderedlamb256.github.io beta styles using CSS grid */
/* colorscheme is lightsteelblue, aliceblue, and papayawhip */ 
body {
      background-color: lightsteelblue;
      background-image: url("images/rainforest.JPG");
      color: white;
}
p {
      font-family: "Trebuchet MS", "Helvetica", sans-serif;
}
h1 {
      font-family: "Trebuchet MS", "Helvetica", sans-serif;
}
a {
      font-family: "Trebuchet MS", "Helvetica", sans-serif;
      color: lightsteelblue;
}
nav {
      background-color: aliceblue;
      margin: 10px;
      padding: 2px;
}
nav a {
      margin: 8px;
      color: lightsteelblue;
      text-align: center;
}
.divider {
      border-top-style: solid;
      border-top-width: 1px;
      padding-top: 10px;
      padding: 10px;
      border-top-color: aliceblue;
}      
.bigbox {
      padding: 5px;
      border-style: solid;
      border-width: 2px;
      margin: 10px;
      border-color: aliceblue;
      background-color: lightsteelblue;
}
.gridmain {
      grid-area: gmain;
}
.gridaside {
      grid-area: gaside;
      border-right: 1px solid white;
}
.main-container {
      display: grid;
      grid-template-areas: 'gaside gmain gmain';
      grid-gap: 4px;
}
.gridasidelinks {
      color: white;
}
