body {
      background-color: lightsteelblue;
      color: black;
}
p, h1, a {
     font-family: "Trebuchet MS", "Helvetica", sans-serif;
}
h1 {
     font-family: "Trebuchet MS", "Helvetica", sans-serif;
}
nav {
     background-color: lightblue;
}
