/* colorscheme is lightsteelblue, aliceblue, and papayawhip */ 

body {
      background-color: lightsteelblue;
      color: black;
}
p {
     font-family: "Trebuchet MS", "Helvetica", sans-serif;
}
h1 {
     font-family: "Trebuchet MS", "Helvetica", sans-serif;
}
a {
     font-family: "Trebuchet MS", "Helvetica", sans-serif;
}
nav {
     background-color: aliceblue;
     margin: 10px;
}
