/* colorscheme is lightsteelblue, aliceblue, and papayawhip */ 

body {
      background-color: lightsteelblue;
      background-image: url("rainforest.png");
      color: black;
}
p {
      font-family: "Trebuchet MS", "Helvetica", sans-serif;
}
h1 {
      font-family: "Trebuchet MS", "Helvetica", sans-serif;
}
a {
      font-family: "Trebuchet MS", "Helvetica", sans-serif;
}
nav {
      background-color: aliceblue;
      margin: 10px;
      padding: 2px;
}
nav a {
      margin: 8px;
}
.divider {
      border-top-style: solid;
      border-top-width: 1px;
      padding-top: 10px;
      padding: 10px;
      border-top-color: aliceblue;
}      
